/**
 * - .allpage: Sets the background color of the entire page.
 * - ::placeholder: Sets the color of placeholder text.
 * - .all-div: Sets the font size for all div elements.
 * - .function-input: Styles the input field for a function, including text alignment, width, margin, font size, background color, and border color.
 * - .function-lable: Styles the label for a function, including display, margin, and width.
 * - .button: Styles a button, including display, width, margin, and font size.
 * - .line: Styles a horizontal line, including width, height, background color, border, and margins.
 * - .table: Styles a table, including width, margin, and font size.
 * - th: Styles table header cells, including background color.
 * - td: Styles table data cells, including background color and text alignment.
 * - p: Styles paragraphs, including text alignment.
 * - .A: Styles elements with class "A", including font size.
 */
 html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
 body {

    height: 100vh;
    margin: 0px;
    padding: 0px;

    #vanta-cs{
      width: 100%;
      height: 200%;
    }
}
#vanta-cs{
  
    
    ::placeholder {
        color: #000000;
    }
    
    .all-div {
        font-size: 21px;
    }
    
    
    .function-input {
        text-align: center;
        width: 20%;
        margin: auto;
        font-size: 21px;
        background-color: white;
        border-color: rgb(00, 00, 00);
    }
    
    h1{
        color:white;
    }
    h2{
        color: #ffffff;
    }
    .function-lable {
        display: inline-block;
        margin-left: 35%;
        width: 5%;
        color: #ffffff;
    }
    
    .button {
        padding: 10px 20px;
        margin: 10px;
        cursor: pointer;
        background-color: #000000;
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 5px;
        display: inline-block;
        width: 10%;
        margin-left: 45%;
        font-size: 16px;
        background-image: url('button.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .button:hover {
        background-color: #494949;
        text-decoration: underline;
        text-decoration-color: rgb(255, 255, 255);
      }
    
    .line {
        width: 76%;
        height: 2px;
        background-color: #383838;
        border: 2px solid;
        border-color: rgb(00, 00, 00) rgb(00, 00, 00, 0.0);
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .table {
        width: 65%;
        margin: auto;
        font-size: 16px;
    }
    
    th {
        background-color: #ffffff;
    }
    
    td {
        background-color: #ffffff;
        text-align: center;
    }
    
    table,
    th,
    td {
        border: 2px solid #000000;
    }
    
    p {
        text-align: center;
    }
    
    .A {
        font-size: 26px;
    }
 
    
    
}

